html {
  scroll-behavior: smooth;
}
h2,
h3,
h4,
.nav-item,
#transition,
footer {
  text-align: center;
}

header {
  background: url(./media/main.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  border-radius: 0 0 20px 20px;
  margin-bottom: 40px;
}

h1 {
  font-size: 5em;
  padding: 200px 0 0 20%;
  text-shadow: -3px 3px 2px #bcf5a9;
  animation: titre ease 3.5s;
}

@keyframes titre {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1px;
    transform: translateY(0px);
  }
}

/* *******************left part*********************** */

#leftPart {
  background-color: #bcf5a9;
  padding: 25px;
  border-radius: 20px;
}
.elements {
  padding: 70px 0;
}
.elements img {
  border-radius: 50%;
  width: 200px;
}
.elements p {
  font-size: 1.2em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  padding-right: 20px;
}
.elements .button {
  text-align: right;
  margin: 15px 4% 0 0;
}

/* **********right part**************** */
#rightPart {
  background-color: #9b6833;
  border-radius: 20px;
  padding: 20px;
}
.tips {
  height: 200px;
  width: 200px;
  margin: 20px auto;
}
.tips h4 {
  position: relative;
  color: green;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 1px 1px 0 #bcf5a9, 1px -1px 0 #bcf5a9, -1px 1px 0 #bcf5a9,
    -1px -1px 0 #bcf5a9, 1px 0px 0 #bcf5a9, 0px 1px 0 #bcf5a9,
    -1px 0px 0 #bcf5a9, 0px -1px 0 #bcf5a9;
}
